{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}


<div class="container">    
<div class="col-4">  
<h1>{{ titre }}</h1>
{{ form_start(form)}}

{{ form_widget(form)}}
<button class="btn btn-success">GO </button>

{{ form_end(form)}}
</div>
</div>
{% endblock %}
